.post {
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.post button {
    border: none;
    background-color: #0766AD;
    padding: 1em;
    cursor: pointer;
    text-decoration: none;

}